


/*responsiveness*/

/* Base */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0,0.8);

  
  
}


.logo {
  color: white;
  text-decoration: none;
}

/* Desktop Menu */
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-menu a:hover {
   
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #020617;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.35s ease;
  z-index: 2000;
}

.mobile-menu.active {
  left: 0;
}

/* Close icon */
.close-icon {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile menu links */
.mobile-menu ul {
  list-style: none;
  text-align: center;
}

.mobile-menu li {
  margin: 1.5rem 0;
}

.mobile-menu a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: #38bdf8;
}

/* Responsive */
@media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .header{
        overflow-x: hidden;
    }


  .nav-menu {
    display: none;
    left: 0;
  right: 0;
  max-width: 100%;
  }

  .hamburger {
    display: flex;
  }
}
