

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+Rounded+1c&family=Montserrat&family=Outfit:wght@100..900&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit',sans-serif;
  overflow-x: hidden;
  
}

/* Remove scrollbar completely */


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */


/* IE / old Edge */






body{
  background: #000;
  overflow-x: hidden!important;

}


h1, h4, p, a {

  color: #fff;
  text-decoration: none;


}

ul{
  list-style-type: none;


}


.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(248,217,15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;

}


.btn-light{
  background: transparent;
  color: #fff;

}


.btn:hover{
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;

}